
/*INSERISCEI IMMAGINE*/
.container_imm {
    position: relative;
    /* width: 50%; */
    max-width: 300px;
}

.btn-container_imm {
    position: absolute;
    top: 80%;			/*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: #555; */
    background-color: rgba(85, 85, 85, 0.301);
    color: white;
    /* font-size: 16px; */
    /*padding: 5px 5px;			padding: 12px 24px;*/
    border: none;
    /* cursor: pointer; */
    /* border-radius: 5px; */
    text-align: center;
    width: -webkit-fill-available;
}

.btn-container_imm:focus {
    outline: none;
}


.image_p {
    display: block;
    width: 100%;
    height: auto;
}

.overlay_p {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container_imm:hover .overlay {
    opacity: 1;
}

/*FINE INSERISCEI IMMAGINE*/

/*immagine profilo*/
.immagine-profilo{
    width: 100% !important; 
    margin-bottom: 10px !important; 
    border: solid 2px !important; 
    border-color: #FE980F !important;
 }
/*fine immagine profilo*/

/*VALUTAZIONE PROFILO*/
.valutazione-profilo{
    display: inline-block; 
    color: #2b5164 ; 
    font-size: 16px;
    display: inline-block !important;
}

.stelle-valutazione-profilo{
    color: #ffc107 !important; 
    display: inline-block !important;

}
/*FINE VALUTAZIONE PROFILO*/

/*PROFILO SCRITTE*/
.profilo-name{
    margin-bottom: 10px; 
    background-color: #ffffff; 
    color: #2b5164; 
    width: 30%;
}
.profilo-data{
    margin-bottom: 10px; 
    background-color: #9bbe592e; 
    color: #2b5164; 
    width: 60%;
}

.modificaprofilo{
    margin-right: 9%; 
    margin-bottom: 50px; 
    padding: 5px 5px 5px 5px;
}
 .btn-modificaprofilo{
    color: #2b5164; 
    font-size:20px; 
    margin-left: 15px;
 }

 .marginematita{
    margin-right: 10px;
 }

 .btn-salvamodifiche{
    margin-bottom: 20px; 
    margin-top: 20px;  
    margin-right: 6%; 
    padding: 5px 5px 5px 5px; 
 }

 .btn-eliminautente{
    margin-bottom: 20px;  
    margin-top: 20px;  
    margin-right: 13%; 
    padding: 5px 5px 5px 5px; 
    background-color: #fc0000 !important;
 }
/*PROFILO SCRITTE*/

/*ACQUIRENTE*/
.imm-osservati{
    width: 250px;
}

.sottomenu-osservati{
    width: 200px; 
    padding-left: 0;
    text-align: left;
}
.paddingsinistra{
    padding-left: 5px !important;
}
.paddingsinistra label{
    display: flex;
}
.paddingsinistra p{
    display: inline-block !important; 
    font-family: 'Roboto', sans-serif !important; 
    font-weight: 400;
    padding-left: 5px !important;
}
.sottomenu-osservati b {
    color:  rgb(253, 141, 55);
}
.cart-color-richieste{
    background-color: rgb(253, 141, 55) !important; 
    color:rgb(255, 255, 255);
}

.cart-color-richieste :first-child{
    padding-left: 35px !important; 
}

.imm-richieste{
    width: 90px; 
    margin-right: 30px; 
    border-radius: 180px;
}

.blu{
    color: #2b5164 !important;
}

.sottomenu-vendite{
    width: 200px;
    text-align: left;
}
.sottomenu-vendite b{
    color: rgb(253, 141, 55) !important;
}


/*FINE ACQUIRENTE*/




